<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>ReManga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="/favicon.svg">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.1.0/css/all.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fa-solid fa-yin-yang"></i>
            ReManga
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-link" href="/">Index</a>
                <a class="nav-link" th:href="@{/creator}">Creator</a>
                <a class="nav-link" href="/reader">Reader</a>
                <a class="nav-link" href="/creatorAction/1">CreatorAction</a>
                <a class="nav-link" href="/readerAction">ReaderAction</a>
                <a class="nav-link" href="/catalog">Catalog</a>
                <a class="nav-link" href="/mangaPage">MangaPage</a>
                <a class="nav-link" href="/swagger-ui/index.html" target="_blank">Документация REST API</a>
                <a class="nav-link" href="/h2-console/" target="_blank">Консоль H2</a>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container container-padding" layout:fragment="content">
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
</th:block>
</html>